---
import Card from "@/components/Card.astro"
import Flamenco from "@/components/Flamenco.astro"
import Form from "@/components/Form.astro"
import Hero from "@/components/Hero.astro"
import Nav from "@/components/Nav.astro"
import Reviews from "@/components/Reviews.astro"
import interiors from "@/data/interiors.json"
import teachers from "@/data/teachers.json"
import Layout from "@/layouts/Layout.astro"

const left  = (index: number, length: number) =>
  `index = ${index === 0 ? length - 1 : index - 1}`
const right = (index: number, length: number) =>
  `index = ${index === length - 1 ? 0 : index + 1}`
---

<script>
  import "swiped-events/dist/swiped-events.min.js"
</script>

<Layout title="Школа ParaBailar — обучение фламенко в Новосибирске">
  <main>
    <Nav />

    <Hero />

    <Flamenco />

    <section id="teachers">
      <header>
        <h2>Знакомьтесь c преподавателями</h2>
        <p>
          Наши педагоги помогут разобрать и отработать множество технических
          элементов, использовать их для импровизации в танце, научат слышать
          музыку и ритм.
        </p>

        <ul x-data="{index: 0}">
          {
            teachers.map((teacher, index) => (
              <li
                x-transition
                x-cloak
                x-show={`index === ${index}`}
                @swiped-right={right(index, teachers.length)}
                @swiped-left={left(index, teachers.length)}
              >
                <button id="left" @click={left(index, teachers.length)}>
                  {"<"}
                </button>
                <Card
                  src={teacher.image}
                  title={teacher.name}
                  body={teacher.description}
                />
                <button id="right" @click={right(index, teachers.length)}>
                  {">"}
                </button>
              </li>
            ))
          }
        </ul>
      </header>
    </section>

    <section id="about">
      <header>
        <h2>Вам понравится в ParaBailar</h2>
        <p>
          Школа расположена в самом центре Новосибирска. Здесь для вас светлые и
          просторные залы, удобные раздевалки и отзывчивые администраторы!
        </p>
      </header>

      <ul x-data="{index: 0}">
        {
          interiors.map((interior, index) => (
            <li
              x-transition
              x-cloak
              x-show={`index === ${index}`}
              @swiped-right={right(index, interiors.length)}
              @swiped-left={left(index, interiors.length)}
            >
              <button id="left" @click={left(index, interiors.length)}>
                {"<"}
              </button>
              <img src={interior} alt="Интерьер школы" />
              <button id="right" @click={right(index, interiors.length)}>
                {">"}
              </button>
            </li>
          ))
        }
      </ul>
    </section>

    <section id="how">
      <header>
        <h2>Как проходят занятия?</h2>
        <p>
          На занятиях мы разучиваем танцы, уделяем время постановке корпуса, рук
          и практикуемся в особой технике дробей. Это позволяет серьезно
          работать с эмоциональностью и энергетикой танца, раскрывающей глубокий
          внутренний потенциал.
        </p>
      </header>

      <iframe
        width="100%"
        height="250"
        src="https://youtube.com/embed/1g3wu6a569c"></iframe>

      <iframe
        width="100%"
        height="250"
        src="https://youtube.com/embed/S77r-c_LFNU"></iframe>
    </section>

    <ol>
      <li>
        <h3>У меня нет танцевальной подготовки, смогу ли я заниматься?</h3>
        <p>
          Конечно, танец фламенко возник из народа, поэтому все движения и
          постановки корпуса достаточно естественны, в этом и состоит прелесть и
          колорит этого танца.
        </p>
      </li>
      <li>
        <h3>
          Есть ли какие-то рамки для занятий фламенко - возраст, комплекция
          тела?
        </h3>
        <p>
          Фламенко не знает никаких ограничений, в том числе по возрасту и
          комплекции. В Испании фламенко танцуют дети, а самым возрастным
          танцовщицам - за 60.
        </p>
      </li>
      <li>
        <h3>Правда ли, что для занятий фламенко нужна специальная обувь?</h3>
        <p>
          В течение первых двух месяцев вы можете использовать обычную обувь.
          Далее мы рекомендуем приобрести специальные туфли.
        </p>
      </li>
    </ol>
  </main>

  <section id="hero-footer">
    <h1>Запишись на пробный урок ФЛАМЕНКО 1</h1>
    <h2>
      в школе танца<br />
      ParaBailar <br />
      м. Пл. Ленина, ул. Коммунистическая, 1
    </h2>

    <Form />
  </section>

  <Reviews />

  <footer>
    <h3>Приходите в ParaBailar</h3>
    <p>
      Новосибирск, м. Пл. Ленина <br />
      ул. Коммунистическая, 1 <br />
      (вход с ул. Революции) <br />
      ИП Корнет Наталья Владимировна <br />
      ИНН 5404100002709 <br />
      ОГРН 319547600006116 <br />
      <a class="tel" href="tel:+79039375513"> +7 (903) 937-55-13 </a>
    </p>

    <div class="icons">
      <a href="https://vk.com/parabailar_nsk">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M15.073 2H8.937C3.333 2 2 3.333 2 8.927v6.136C2 20.666 3.323 22 8.927 22h6.136C20.666 22 22 20.677 22 15.073V8.937C22 3.333 20.677 2 15.073 2Zm3.073 14.27h-1.459c-.552 0-.718-.447-1.708-1.437c-.864-.833-1.229-.937-1.448-.937c-.302 0-.385.083-.385.5v1.312c0 .355-.115.563-1.042.563a5.692 5.692 0 0 1-4.448-2.667a11.626 11.626 0 0 1-2.302-4.833c0-.219.083-.417.5-.417h1.458c.375 0 .51.167.657.552c.708 2.084 1.916 3.896 2.406 3.896c.188 0 .27-.083.27-.552v-2.146c-.062-.979-.582-1.062-.582-1.416a.36.36 0 0 1 .374-.334h2.292c.313 0 .417.156.417.531v2.896c0 .313.135.417.229.417c.188 0 .333-.104.677-.448a11.999 11.999 0 0 0 1.792-2.98a.628.628 0 0 1 .635-.416h1.459c.437 0 .53.219.437.531a18.205 18.205 0 0 1-1.958 3.365c-.157.24-.22.365 0 .646c.145.219.656.646 1 1.052a6.486 6.486 0 0 1 1.229 1.708c.125.406-.084.615-.5.615Z"
          ></path>
        </svg></a
      >

      <a href="https://www.instagram.com/parabailar_nsk/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="200"
          height="200"
          viewBox="0 0 56 56"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M39.006 3C46.735 3 53 9.27 53 16.994v22.012C53 46.735 46.73 53 39.006 53H16.994C9.265 53 3 46.73 3 39.006V16.994C3 9.265 9.27 3 16.994 3zM28 15c-7.18 0-13 5.82-13 13s5.82 13 13 13s13-5.82 13-13s-5.82-13-13-13m0 4a9 9 0 1 1 0 18a9 9 0 0 1 0-18m14.5-9a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7"
          ></path>
        </svg>
      </a>
    </div>
  </footer>
</Layout>

<style>
  main {
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  section#hero-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;

    h1,
    h2 {
      line-height: 1.3;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-image: url("https://static.tildacdn.com/tild3863-6639-4537-a235-393964336634/noroot.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      opacity: 0.3;
      content: "";
    }
  }

  section {
    &#teachers,
    &#about {
      ul {
        position: relative;
        display: flex;
        height: 35rem;

        li {
          position: absolute;
          top: 0;
          left: 0;

          button {
            position: absolute;
            top: 32%;
            width: 3rem;
            color: gray;
            font-size: 3rem;
            text-shadow: 0 0 1rem rgb(0 0 0 / 100%);
            background: none;
            border: none;

            &#right {
              right: 1rem;
            }

            &#left {
              left: 1rem;
            }
          }
        }
      }
    }

    &#about {
      ul {
        width: 100%;
        height: 15rem;
      }
    }
  }

  ol > li {
    padding: 2rem;
  }

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    text-align: center;

    &:last-of-type {
      margin-bottom: 1em;
    }
  }

  footer {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons {
      display: flex;

      svg {
        width: 3rem;
        height: 3rem;

        path {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
</style>
